/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(81, 255, 214);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.background {
  height: 200% !important;
  width: 100% !important;
  position: absolute;
}
.image {
  width: 100%;
  height: 100%;
  position: absolute !important;
  z-index: -20 !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.filter {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  opacity: 0.6;
}

html,
body {
  height: 100%;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

form {
  padding-top: 10px;
  font-size: 14px;
  margin-top: 30px;
}

.card-title {
  font-weight: 300;
}

.btn {
  font-size: 14px;
  margin-top: 20px;
}

.login-form {
  width: 330px;
  margin: 20px;
}

.sign-up {
  text-align: center;
  padding: 20px 0 0;
}

.alert {
  margin-bottom: -30px;
  font-size: 13px;
  margin-top: 20px;
}
.card {
  min-width: 300px !important;
}
.navbar-brand-login {
  width: 100% !important;
}

.card-login {
  margin-top: 20%;
  background-color: #000000e5 !important;
  border-radius: 0px !important;
  color: white;

  border: 1px solid #fd05aa6c;
}

.beepLogo svg {
  max-width: 100% !important;
  height: 1% !important;
}
.btn-edit {
  background-color: #0ff8fcab;
  color: black;
  border-radius: 0px;
  border: 1px solid rgb(56, 189, 233);
}
.beep {
  color: #0ff8fc;
}

.dropdownSelect:focus {
  border-color: #0ff8fcab;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #fc0f4eab;
}

/* sidebar*/

h1 {
  font-size: 50px;
  line-height: 40px;
  font-weight: 100;
}
p {
  margin-bottom: 1em;
}
a {
  color: #61c7b3;
  text-decoration: none;
  transition-duration: 0.3s;
}
a:hover {
  color: #338f7d;
  transition-duration: 0.05s;
  text-decoration: none;
}
.circle-icon {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
  border: 2px solid #b4bbc1;
  border-radius: 100px;
  font-size: 14px;
  color: #b4bbc1;
  cursor: pointer;
  display: block;
  float: left;
}
.circle-icon.small {
  height: 25px;
  width: 25px;
  line-height: 23px;
  font-size: 11px;
}
.circle-icon:hover {
  color: #57636c;
  border-color: #57636c;
}
.circle-icon.red {
  color: #d23b3d;
  border-color: #d23b3d;
}
.circle-icon.red:hover {
  color: #791c1e;
  border-color: #791c1e;
}
.checkbox-wrapper {
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: relative;
  display: inline-block;
  box-shadow: inset 0 0 0 1px #a3adb2;
  border-radius: 1px;
}
.checkbox-wrapper input {
  opacity: 0;
  cursor: pointer;
}
.checkbox-wrapper input:checked ~ label {
  opacity: 1;
}
.checkbox-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: #a3adb2;
  opacity: 0;
  transition-duration: 0.05s;
}
.checkbox-wrapper label:hover {
  background: #95a1a6;
  opacity: 0.5;
}
.checkbox-wrapper label:active {
  background: #87949b;
}
#sidebar {
  position: fixed;
  top: 0;
  min-width: 300px;
  left: 0;
  height: 100%;
  width: 20%;
  background: #242d2d;
  transition-duration: 0.3s;
  z-index: 5;
}
#sidebar,
#sidebar a {
  color: #abb4be;
}
#sidebar .logo-container {
  font-weight: 100;
  font-size: 50px;
  line-height: 40px;
  text-align: center;
  margin: 50px 0;
  cursor: pointer;
}
#sidebar .logo-container .logo {
  position: relative;
  top: -6px;
  font-size: 25px;
  margin-right: 15px;
  padding: 10px;
  border: 2px solid #61c7b3;
  border-radius: 100px;
  text-indent: 1px;
  color: #61c7b3;
}
#sidebar .compose-button {
  border-radius: 100px;
  padding: 13px 20px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  color: #61c7b3;
  border: 2px solid #61c7b3;
  display: block;
  margin: 0 50px 30px 50px;
  cursor: pointer;
}
#sidebar .compose-button:hover {
  color: #abb4be;
  border-color: #abb4be;
}
#sidebar .menu-segment {
  padding: 0 50px 0 70px;
}
#sidebar .menu-segment ul,
#sidebar .menu-segment li {
  margin: 0;
  padding: 0;
}
#sidebar .menu-segment .ball.offline {
  border-color: #5b5b5b;
}
#sidebar .menu-segment .ball.online {
  border-color: #84ff00;
}
#sidebar .menu-segment .ball.paused {
  border-color: #ff9100;
}
#sidebar .menu-segment .ball.blue {
  border-color: #1bc3e1;
}
input[type='search'] {
  font-size: larger;
  height: 100%;
}

.searchUser {
  margin-right: -30px !important;
  margin-left: 0px;
}
.modal-dialog {
  height: 100% !important;
}

.modalClasses {
  background-color: rgb(57, 57, 57) !important;
  color: white;
  border: 2px solid #51ffd6 !important;
}

.btnOdebrat {
  background-color: rgb(208, 208, 208);
  color: black;
  margin: 0px !important;
}
.btnPrijmout {
}
.btnOdmitnout {
  border: 0px !important;
}

.notificationText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.btnOdebrat:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 82%);
}

.addGroup {
  margin: 0px !important;
  padding: 0px !important;
}
.addGroup:hover {
  background-color: #00000000 !important;
  cursor: pointer;
}

.modalCloseButton {
  margin: 0px !important;
  color: white !important;
}
.btnPridat {
  margin: 0px !important;
}
.tlacitko {
  padding-left: 30px;
  border-left: 1px solid gray;
}

.userLine {
  background-color: rgb(74, 74, 74);
  border-radius: 2px;
  border: 1px solid black;
  padding: 10px !important;
  margin-right: -30px !important;
  margin-left: 0px;
  color: white !important;
}

.userList {
  height: 90% !important;
  margin-top: 7% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border: 3px solid #444a49;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1d2725;
}
.nadpis {
  color: #a6b0b9 !important;
  border-bottom: 3px solid #444a49;
  margin-bottom: 25px !important;
}

.userListUser {
  color: #44777b;
  width: 100% !important;
  border-top: 1px solid rgba(77, 77, 77, 0.419);
  border-bottom: 1px solid rgba(77, 77, 77, 0.419);
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar .menu-segment li.title {
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
  color: #465162;
}
#sidebar .menu-segment li.title .icon {
  float: right;
}
#sidebar .menu-segment li.active a,
#sidebar .menu-segment li.active a:hover {
  background: #151b1a;
  transition: ease-in-out 300ms;
}
#sidebar .menu-segment li a {
  display: block;
  margin: 0 -50px 0 -70px;
  padding: 10px 50px 10px 70px;
}
#sidebar .menu-segment li a:hover {
  background: #2c3b38;
}
#sidebar .menu-segment li .italic-link {
  margin-left: -30px;
  font-style: italic;
  color: #465162;
}
#sidebar .menu-segment li .italic-link,
#sidebar .menu-segment li .italic-link:hover {
  background: transparent;
}
#sidebar .menu-segment li .italic-link:hover {
  color: #abb4be;
}
#sidebar .menu-segment .labels li a span,
#sidebar .menu-segment .chat li a span {
  display: block;
  border: 5px solid red;
  border-radius: 100px;
  margin-top: 6px;
}
#sidebar .menu-segment .labels.labels li a span,
#sidebar .menu-segment .chat.labels li a span {
  float: right;
}
#sidebar .menu-segment .labels.chat li a span,
#sidebar .menu-segment .chat.chat li a span {
  float: left;
  margin-right: 10px;
}
#sidebar .menu-segment .chat li a {
  padding-left: 50px;
}
#sidebar .separator {
  margin: 30px 35px;
  height: 1px;
  background: #2d3138;
}
#sidebar .bottom-padding {
  height: 100px;
}
#sidebar > .nano-pane {
  background: transparent;
}
#sidebar > .nano-pane .nano-slider {
  background: rgba(255, 255, 255, 0.1);
}
.sidebar-toggle-btn {
  width: 20px;
  margin-top: 1px;
  padding: 11px 0 0 0;
  float: left;
  position: relative;
  display: block;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
  opacity: 0;
  position: absolute;
  margin-right: 0;
}
.sidebar-toggle-btn {
  transition-delay: 0s;
}
.sidebar-toggle-btn .line {
  height: 3px;
  display: block;
  background: #888;
  margin-bottom: 4px;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}
.sidebar-toggle-btn .line-angle1 {
  transform: rotate(-120deg);
}
.sidebar-toggle-btn .line-angle2 {
  transform: rotate(120deg);
}
.sidebar-toggle-btn .line-angle1 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 15px;
  left: -11px;
  transform: rotate(-60deg);
}
.sidebar-toggle-btn .line-angle2 {
  width: 8px;
  margin: 0;
  position: absolute;
  top: 21px;
  left: -11px;
  transform: rotate(60deg);
}

@media only screen and (min-width: 1499px) {
  #main .overlay {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #sidebar {
    transform: translateX(-100%);
    width: 75% !important;
  }
  .crossIconCol {
    width: 100%;
    margin-left: 35px;
  }
  .crossIcon {
    float: right !important;
    text-align: right !important;
    margin-top: 15px;
    display: initial !important;
  }
  #main {
    left: 0;
    box-shadow: none;
  }
  #main {
    transform: translateX(-20%);
    width: 100% !important;
  }

  .sidebar-toggle-btn {
    margin-right: 20px;
    opacity: 1;
    width: 20px;
  }
  .show-sidebar #sidebar {
    transform: none;
  }
  .show-sidebar #main {
    transform: translateX(0px);
  }
}

.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: none;
}
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background: rgba(117, 117, 117, 0.2);
  position: absolute;
  width: 8px;
  right: 8px;
  top: 8px;
  bottom: 8px;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.01;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: #c7c7c7;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
}
.nano > .nano-pane:hover > .nano-slider,
.nano > .nano-pane.active > .nano-slider {
  background: #a6a6a6;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}

#main {
  position: fixed;
  top: 0;
  left: 20%;
  width: 81%;
  background: #151b1a;
  bottom: 0;
  right: 0;
  z-index: 4;
  transition-duration: 0.3s;
  padding-left: 4px;
}

.mainContainer {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .crossIcon {
    display: none !important;
  }
}

.messagesBox {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  border: 3px solid #444a49;
  width: 90% !important;
  margin: 20px;
  margin-top: 0px;
  box-shadow: 13px 20px 9px 8px #00000052;
  background-color: #1d2725;
  height: 90% !important;
}

.nameBox {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 10% !important;
  border-bottom: none;
  border: 3px solid #444a49;
  width: 90% !important;
  margin: 20px;
  vertical-align: middle;
  margin-bottom: 0px;
  box-shadow: 13px 20px 9px 8px #00000052;
  background-color: #1d2725;
  padding-left: 10px;
  padding-right: 10px;
}

.send-message {
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-right: none !important;
  border: 3px solid #444a49;
  box-shadow: 13px 20px 9px 8px #00000052;
  background-color: #1d2725;
  color: #c7c7c7;
}

.h-20 {
  margin-top: 5%;
  height: 25% !important;
  min-height: 50px !important;
}

.sendMessageRow {
  width: 90% !important;
  margin: 20px;
}

.btn-odeslat {
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border: 3px solid #444a49;
  box-shadow: 13px 20px 9px 8px #00000052;
  background-color: #1d2725;
  color: #c7c7c7;
  font-size: 1.5rem;
}

.btn-odeslat:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem #1d27254b;
  color: #ced9dd !important;
}

.messages {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
  text-align: left;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 2px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #1d2725;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: #61c7b3;
  position: relative;
}

.mine .message.last:before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #61c7b3;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #1d2725;
  border-bottom-left-radius: 10px;
}

.messagesBox {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 15px;
}
.userButton {
  background: none;
  color: #abb4be;
  border: 0px;
  margin-left: -5px;
  cursor: pointer;
}

.userBox {
  border-bottom: 2px solid #bababa52;
}

.topBoxButton {
  width: 100% !important;
  color: #abb4be;
  font-size: x-large;
  border: 1px solid rgba(0, 255, 208, 0.299) !important;
}

.topBoxButton:hover {
  width: 100% !important;
  border-radius: 1px !important;
  color: rgb(0, 255, 208);
}
.topBoxButton:focus {
  background-color: rgba(0, 255, 208, 0.149);
  box-shadow: 0 0 0 0.2rem rgb(0, 255, 208) !important;
}

.buttonCustom {
  margin-top: 5.5% !important;
}

.jmeno {
  height: 100%;
  color: #51ffd6 !important;
  margin-top: 1.5% !important;
}

.space {
  position: fixed;
  width: 20% !important;
  min-width: 300px !important;
  height: 10% !important;
  background-color: red !important;
}

li {
  list-style-type: none;
}
